<app-layout [title]="title">

    <app-list-view 
        headline="List View Component"
        [customActions]="customActions"
        [showAddAction]="true"
        [showEditAction]="true"
        [showDeleteAction]="true"
        [showFilter]="true"
        [columnDefinitions]="columnDefinitions"
        [data]="data"
        (add)="showEventData($event)"
        (edit)="showEventData($event)"
        (delete)="showEventData($event)"
        (customAction)="showEventData($event)"
        >
    </app-list-view>
</app-layout>